<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    backupGlobals="true"
    bootstrap="bootstrap.php"
    cacheDirectory="../../build/phpunit-cache"
    colors="true"
    processIsolation="false"
    stopOnError="true"
    stopOnFailure="true"
    stopOnIncomplete="true"
    stopOnSkipped="true">

    <source>
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Client">
          <directory suffix=".php">../client</directory>
        </testsuite>
        <testsuite name="Actions">
            <directory suffix=".php">../actions</directory>
        </testsuite>
        <testsuite name="Events">
            <directory suffix=".php">../events</directory>
        </testsuite>
    </testsuites>
</phpunit>
